---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Unified Web Interface",
    description:
      "Manage all your email accounts, calendars, and contacts from a single, user-friendly web interface.",
    icon: "bx:bxs-user-circle",
  },
  {
    title: "Advanced Spam Filtering",
    description:
      "Automatically filter out unwanted emails with powerful anti-spam and anti-virus protection.",
      icon: "bx:bxs-shield",
  },
  {
    title: "IMAP/SMTP Support",
    description:
      "Full IMAP and SMTP support to access your email from any device or email client.",
    icon: "bx:bx-send",
  },
  {
    title: "Calendar and Contact Synchronization",
    description:
      "Sync your calendars and contacts across all your devices seamlessly using CardDAV and CalDAV.",
    icon: "bx:bxs-calendar",
  },
  {
    title: "Two-Factor Authentication (2FA)",
    description:
      "Enhance security with two-factor authentication to protect your accounts.",
    icon: "bx:bxs-lock-alt",
  },
  {
    title: "Resource Management",
    description:
      "Allocate storage, bandwidth, and other resources effectively to manage your email infrastructure.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Collaborative Email Sharing",
    description:
      "Share mail folders and collaborate with your team in real-time.",
    icon: "bx:bxs-folder-open",
  },
  {
    title: "Email Aliases and Forwarding",
    description:
      "Create multiple aliases and set up forwarding rules to manage your email more flexibly.",
    icon: "bx:bxs-arrow-from-left",
  },
  {
    title: "Mobile and Desktop Compatibility",
    description:
      "Fully compatible with all major mobile and desktop platforms, ensuring access from anywhere.",
    icon: "bx:bxs-mobile",
  },
  {
    title: "Custom Domain Support",
    description:
      "Use your custom domain to send and receive emails, enhancing your professional appearance.",
    icon: "bx:bx-globe",
  },
  {
    title: "S/MIME and OpenPGP Encryption",
    description:
      "Secure your communications with S/MIME and OpenPGP encryption for end-to-end privacy.",
    icon: "bx:bxs-lock",
  },
  {
    title: "Mailing Lists Management",
    description:
      "Create and manage mailing lists to streamline your group communication.",
    icon: "bx:bx-list-ul",
  },
  {
    title: "Full Text Search",
    description:
      "Quickly find any email with powerful full-text search capabilities.",
    icon: "bx:bxs-search",
  },
  {
    title: "Push Notifications",
    description:
      "Receive instant push notifications on all your devices for new emails and calendar events.",
    icon: "bx:bxs-bell",
  },
  {
    title: "Customizable User Settings",
    description:
      "Tailor your experience with customizable settings for themes, layouts, and notifications.",
    icon: "bx:bxs-wrench",
  },
];


---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to send reliable emails
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
